FREESTYLE_API_KEY=...
ANTHROPIC_API_KEY=...
DATABASE_URL=postgres://...

NEXT_PUBLIC_STACK_PROJECT_ID=<your-project-id>
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=<your-publishable-client-key>
STACK_SECRET_SERVER_KEY=<your-secret-server-key>

PREVIEW_DOMAIN=thepreviewdomain.com
